/* Getting the new tags to behave */
article, aside, audio, canvas, command, datalist, details, embed, figcaption, figure, footer, header, hgroup, keygen, meter, nav, output, progress, section, source, video {display:block}
mark, rp, rt, ruby, summary, time {display:inline}
/* Left & Right alignment */
.left {float:left}
.right {float:right}
.wrapper {width:100%;overflow:hidden}
.wrap{overflow:hidden;margin-left:-5px;padding-left:5px}

body {
  font-family: "Karla", sans-serif;
  background-color: #d0d0ce;
  min-height: 100vh; }

  .brand-wrapper {
    margin-bottom: 19px; }
    .brand-wrapper .logo {
      height: 37px; }

.main {	margin:0 auto;font-family: "Karla", sans-serif;}


.carousel {
    width:1000px;
    height:640px;
    margin: auto;
    margin-top: 50px;
  }

.carousel-caption {
    font-size: x-large;

}

.navbar {
  overflow: hidden;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  z-index:1;
}


#menu {float:right;padding:0 0 0 0;color:font-family: "Karla", sans-serif;display: ;}
#menu li {float:left;padding-left:3px}
#menu li a {display:block;font-size:24px;color:#faf3ed;line-height:40px;padding:0 20px;height:44px;letter-spacing:-1px;color: #737373;}
#menu li a:hover, #menu .active a {text-decoration:none; repeat}
